body {
  background-color: black;
  color: white;
  font-family: Arial, sans-serif;
  text-align: left;
}

h1 {
  color: red;
}

p {
  color: yellow;
}
h2 {
  color: orange;
}
h3 {
  color: greenyellow;
}
h4 {
  color: blue;
}
h5 {
  color: purple;
}
h6 {
  color: pink;
}