*{ /* Esse comando zerou todas as configurações padrões do navegador */
    margin: 0;
    padding: 0;

}

    h1{
        color: rgb(11, 11, 14); /* Cor do texto */
        font-size: 32px;   /* Tamanho da fonte */
        margin-top: 32px;/* Margem superior */
        margin-bottom: 32px; /* Margem inferior */
    }

    li{
        background-color: black; /* Cor de fundo */
        color: white; /* Cor do texto */
        font-size: 15px; /* Tamanho da fonte */
        padding: 32px; /* Espaçamento interno */
        list-style: none; /* Remove o marcador padrão */
        border-radius: 4px; /* Bordas arredondadas */
        margin-left: 32px; /* Margem inferior */
        border: 4px solid transparent; /* Borda transparente */
        margin-top: 32px; /* Margem superior */
        width: 400px; /* Largura fixa */
        height: 250px; /* Altura fixa */
        display: inline-block; /* Exibe os itens em linha */
        flex-direction: column; /* Alinha os itens na vertical */
        cursor: pointer;
        
        
    }

    .selected{
        border: 4px solid rgb(51, 51, 241); /* Borda azul */
        background-color: rgb(63, 61, 61); /* Cor de fundo azul claro */
        
    }
    .hidden{
        display: none; /* Esconde o elemento */
    }