* {
    font-family: "Fira Sans", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; /* essa tag é padrao e importa e utiliza varias fontes ja existente, aqui foi incluido no inicio a fonte que é utilizado na criação da pagina, juntamente com as demais fontes*/
    margin: 0;
    padding: 0;
}

header {
    border-bottom: 1px solid #030308; /* cria a linha divisoria*/
    font-size: 1.125rem;
    padding: 2rem 0; /* define espaçamento interno (padding) do elemento*/
    text-align: center;
}

h1, h2 {
    font-family: "Lora", serif; /* caso tenha problemas com a fonte Lora, ela era usar a fonte serif, senão utilizara a padrão*/
    font-weight: 400; /* expessura das letras*/
}

h1 {
    font-size: 3.5rem;
    margin-bottom: 1rem;
}

h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.feature, .catalog, .cta { /* aplica as configurações nas 3 classes*/
    font-size: 1.125rem;
    padding: 2rem;
    text-align: center;
}

.cta-button {
    background-color: #030308;
    border-radius: 9999px;
    color: #fff;
    display: block;
    margin: 2rem auto;
    padding: 1rem 1.5rem;
    width: fit-content;
    text-decoration: none; /* retira o sublinhado*/
    text-transform: uppercase; /* coloca o texto todo em maiusculo */
}

.genres > li {
    display: inline-block; /* deixa os botoes em linha*/
    margin-top: 2rem;
}

.genres > li + li {
    margin-left: 1rem;
    margin-top: 1rem;
}

.genre > a, /*  aplica a configuração somente na tag a*/
.see-more > a {
    background-color: #43abf6;
    border-radius: 9999px;
    color: #fff;
    display: inline-block;
    padding: 1rem 1.5rem;
    text-decoration: none;
}

.see-more > a {
    background-color: #030308;
    text-transform: uppercase;
}

footer {
    background-color: #030308;
    color: #fff;
    font-family: "Lora", serif;
    padding: 2rem;
    text-align: center;
}