* { /* Aplica a todos os elementos da página, configuração da fontes e bordas */
    box-sizing: border-box; /* Define o box-sizing como border-box, o que inclui o padding e a borda na largura e altura totais dos elementos */
    font-family: "Oxygen", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}

:root { /* Define variáveis CSS para cores usadas no site */
    --color-background: #030207;
    --color-white: #fff;
    --color-blue: #1474b4;
}

body {
    background-color: var(--color-background);
    color: var(--color-white);
}

a {
    color: var(--color-blue);
}

.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.1), var(--color-background)); /* Adiciona um gradiente de fundo que vai do preto transparente para a cor de fundo definida */
    position: relative; /* Define a posição como relativa para permitir o posicionamento absoluto dos elementos filhos */
    min-height: 100vh;
}

.hero__background {
    object-fit: cover; /* Faz com que a imagem cubra todo o contêiner, mantendo sua proporção */
    position: absolute;/* Define a posição como absoluta para permitir o posicionamento em relação ao contêiner pai */
    top: 0;/* Posiciona a imagem no topo do contêiner pai */
    height: 100vh;
    width: 100%;
    z-index: -10;
}

.hero__foreground {
    color: var(--color-white);
    padding-top: 40vh;
    text-align: center;
}

.hero__title {
    font-size: 5rem;
    font-weight: 300;
}

.hero__text {
    margin-top: 2rem;
    letter-spacing: 0.5rem; /* Adiciona espaçamento entre as letras */
    text-transform: uppercase;
}
