header{

    background-color: #248030;
    text-align:left;
    border-radius: 10px;
    h1{
        color: white;
        margin: 0%;
        padding: 5px;
        text-align: left;
    }
    p {
        color: white;
        margin: 0px;
        padding:5px;
        text-align: left;
    }
}

body{

    margin:20px;
    background-image: url('https://www.viagenspossiveis.com.br/wp-content/uploads/2013/02/C360_2012-11-19-17-59-02.jpg?_gl=1*1qj459a*_ga*MTMzNTYzODYxMy4xNzA2MDIxODE5*_ga_37GXT4VGQK*MTcyOTAwMjM5OC45NDQuMS4xNzI5MDA2MzI4LjAuMC4w*_fplc*VzJ0OUolMkZsMnZoaGN4QW5nb3RIWTk0cDlySSUyQnlESU4lMkZWZzJESmN4S0JKJTJGUDdaY3QxQ0U5Z2R1UDBjcnVta0dwMXZRdG16bnRsQm1oeTRlMXRlNVdUc0NmWWk2RGdmb1daMXduOHVIY2tVcSUyQkZKNjRpVmFVSmpnMElrclpwQSUzRCUzRA..');
    background-size: cover;
    background-attachment: fixed;

}

footer{

    background-color: white;
    padding:0px;
    text-align: left;
    border-radius:10px

}

main{

    background-color: #ffff8c;
    padding: 0px;
    border-radius: 10px;
    margin-top:20px;
    a {
        color: green;
        
    }
    button{
        background-color: rgb(54, 204, 54);
        border: 2px solid transparent;
        border-radius: 4px;
    
    }

}
